{% set usedCategories = allPics | reduce((carry, image) => carry | merge(image.category), []) | unique %}
{% set maxWidth = 1200 %}
{% set fixedHeight = 150 %}
{% set quality = 85 %}

{% set fitTransform = {
    mode: 'fit',
    width: maxWidth,
    height: fixedHeight,
    quality: 85
} %}

{% set fitTransform2x = {
    mode: 'fit',
    width: maxWidth * 2,
    height: fixedHeight * 2,
    quality: quality
} %}

{% set mobileTransform = {
    mode: 'fit',
    width: 1200,
    quality: quality
} %}

<div class="packery-grid-wrapper">
    <div id="horizontal-packery" class="packery-grid">
        {# <div id="gallery-container" class="isotope-grid" data-category="{{ cat }}"> #}
        {# <div class="grid-sizer"></div> #}
            {% for image in allPics %}
                {% set categories = image.category.all() ?? null %}
                {% set filterClasses = [] %}
                {% set filterIsotopeClasses = [] %}
                {% for cat in categories %}
                    {% set filterClasses = filterClasses|merge([' ' ~ cat.slug]) %}
                    {% set filterIsotopeClasses = filterIsotopeClasses|merge(['.' ~ cat.slug]) %}
                {% endfor %}
                {# Transformeer op basis van een vaste HOOGTE #}
                {% set transformedImage = image.getUrl(fitTransform) %}
                {% set transformedImage2x = image.getUrl(fitTransform2x) %}
                {% set mobileImage = image.getUrl(mobileTransform) %}
                
                {% set imageWidth = image.getWidth(fitTransform) %}
                {% set imageHeight = image.getHeight(fitTransform) %}
                <div class="gallery-item packery-item {{ filterClasses|join(' ') }}" data-filter="{{ filterIsotopeClasses|join('') }}">
                    <a href="{{ image.url }}" data-lightbox="packery-gallery">
                        
                        <img 
                            src="{{ transformedImage2x }}" 
                            srcset="{{ mobileImage }} 768w, {{ transformedImage2x }}"
                            alt="{{ image.title }}" 
                            width="{{ imageWidth }}" 
                            height="{{ imageHeight }}"
                            style="width: {{ imageWidth }}px;"
                        >
                    </a>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>

<div class="section nav-section">
    
    {# De Swiper container (de viewport) #}
    <div class="swiper category-swiper-container"> 
        
        {# De Swiper wrapper (bevat alle slides) #}
        <nav class="swiper-wrapper category-nav filters-button-group pt-4">
            
            {# Elk navigatielinkje wordt een 'swiper-slide' #}
            <a href="#" class="swiper-slide nav-link nav-cat-link is-checked" data-filter="*">All</a>
            
            {% if usedCategories is not empty %}
                {% for category in usedCategories %}
                    {# BELANGRIJK: Gebruik </a> om de link af te sluiten, niet </button> #}
                    <a href="#" class="swiper-slide nav-link nav-cat-link" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</a>
                {% endfor %}
            {% endif %}
        </nav>
    
        {# Optioneel: Scrollbar of navigatiepijlen toevoegen #}
        {# <div class="swiper-scrollbar"></div> #}
        
    </div>
</div>

{% js "/assets/js/home.js" %}
