{% set fitTransform = {
    mode: 'fit',
    height: 95,
    quality: 85
} %}

<div id="horizontal-packery" class="packery-grid">
    {# <div id="gallery-container" class="isotope-grid" data-category="{{ cat }}"> #}
    {# <div class="grid-sizer"></div> #}
        {% for image in allPics %}
            {% set categories = photo.category.all() ?? null %}
            {% set filterClasses = [] %}
            {% for cat in categories %}
                {% set filterClasses = filterClasses|merge(['.' ~ cat.slug]) %}
            {% endfor %}
            {# Transformeer op basis van een vaste HOOGTE #}
            {% set transformedImage = image.getUrl(fitTransform) %}
            {% set imageWidth = image.getWidth(fitTransform) %}
            {% set imageHeight = image.getHeight(fitTransform) %}
            <div class="gallery-item packery-item {{ filterClasses|join(' ') }}" data-filter="{{ filterClasses|join('') }}">
                <a href="{{ image.url }}" data-lightbox="packery-gallery">
                    {# <img src="{{ transformedImage }}" alt="{{ image.title }}" width="{{ originalWidth }}" height="{{ originalHeight }}"> #}
                    <img src="{{ transformedImage }}" 
                        alt="{{ image.title }}" 
                        width="{{ imageWidth }}" 
                        height="{{ imageHeight }}"
                        style="width: {{ imageWidth }}px;"
                    >
                </a>
            </div>
        {% endfor %}
    
    </div>
</div>
