{% set usedCategories = allPics | reduce((carry, image) => carry | merge(image.category), []) | unique %}

{% set fitTransform = {
    mode: 'fit',
    height: 150,
    quality: 85
} %}

<div class="packery-grid-wrapper">
    <div id="horizontal-packery" class="packery-grid">
        {# <div id="gallery-container" class="isotope-grid" data-category="{{ cat }}"> #}
        {# <div class="grid-sizer"></div> #}
            {% for image in allPics %}
                {% set categories = image.category.all() ?? null %}
                {% set filterClasses = [] %}
                {% set filterIsotopeClasses = [] %}
                {% for cat in categories %}
                    {% set filterClasses = filterClasses|merge([' ' ~ cat.slug]) %}
                    {% set filterIsotopeClasses = filterIsotopeClasses|merge(['.' ~ cat.slug]) %}
                {% endfor %}
                {# Transformeer op basis van een vaste HOOGTE #}
                {% set transformedImage = image.getUrl(fitTransform) %}
                {% set imageWidth = image.getWidth(fitTransform) %}
                {% set imageHeight = image.getHeight(fitTransform) %}
                <div class="gallery-item packery-item {{ filterClasses|join(' ') }}" data-filter="{{ filterIsotopeClasses|join('') }}">
                    <a href="{{ image.url }}" data-lightbox="packery-gallery">
                        {# <img src="{{ transformedImage }}" alt="{{ image.title }}" width="{{ originalWidth }}" height="{{ originalHeight }}"> #}
                        <img src="{{ transformedImage }}" 
                            alt="{{ image.title }}" 
                            width="{{ imageWidth }}" 
                            height="{{ imageHeight }}"
                            style="width: {{ imageWidth }}px;"
                        >
                    </a>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>

<div class="section nav-section d-inline-flex">
    <nav class="category-nav filters-button-group pt-4">
        <a href="#" class="nav-link is-checked" data-filter="*">All</a>
        {% if usedCategories is not empty %}
            {% for category in usedCategories %}
                <a href="#" class="nav-link is-checked" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</button>
            {% endfor %}
        {% endif %}
    </nav>

    {# <nav class="category-nav filters-button-group duplicate-nav pt-4" aria-hidden="true">
        <a href="#" class="nav-link is-checked" data-filter="*">All</a>
        {% if usedCategories is not empty %}
            {% for category in usedCategories %}
                <a href="#" class="nav-link is-checked" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</a>
            {% endfor %}
        {% endif %}
    </nav> #}
</div>
