
{% set navigation = craft.entries().section('navigation').all() %}

<nav class="navbar navbar-expand-lg">
	<div class="container">
        <a class="navbar-brand" href="{{ siteUrl }}" aria-label="Home">
            <img src="/assets/img/logo.png" width="160" height="160" alt="{{ siteName }}">
        </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ms-auto">
                {% for nav in navigation %}
                    {% set active = " " %}
                    {% if entry is defined and entry is not null %}
                        {% set active = entry.slug == nav.slug ? ' active' : '' %}
                    {% endif %}
				    <a class="nav-link{{ active }}" aria-current="page" href="{{ nav.slug }}">{{ nav.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>


{# <header class="header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="logo col-6">
				<h1>
					The Annie club
				</h1>
			</div>
			<nav class="top-nav col-6 text-end">
				<a href="#clients">clients</a>
				<a href="#contact">contact</a>
				<a href="#about">about</a>
				<a class="instagram-logo" href="https://instagram.com" target="_blank">
					<svg fill="#a4b4c7" width="24px" height="24px" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"/><path d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"/>
					</svg>
				</a>
			</nav>
		</div>
	</div>
</header> #}
