
  {# src="{{ asset.url }}"
  width="{{ asset.width }}"
  height="{{ asset.height }}"> #}

<a href="{{ mainPic.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="grid-item main-pic header-item">
    <img src="{{ mainPicThumbImg.getUrl() }}" alt="{{ mainPic.title }}">
</a>
{# <a href="{{ mainPic.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="main-pic header-item">
    <img src="{{ mainPic.getUrl({ width: block.picsGoupWidth }) }}" alt="{{ mainPic.title }}">
</a> #}
{# <a href="{{ mainPic.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="main-pic header-item">
    <img src="{{ mainPic.getUrl({ width: block.picsGoupWidth }) }}" alt="{{ mainPic.title }}">
</a> #}