<a href="{{ mainPic.url }}" data-filter="{{ cat }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="grid-item {{ cat }} main-pic header-item">
    <img src="{{ mainPicThumbImg.getUrl() }}" alt="{{ mainPic.title }}">
</a>