<div class="picsGroup-wrapper">
    {% for photo in block.picsGroup %}
        {# {% set size = photo.getUrl({ width: ( (block.picsGoupWidth / 2) ) }) %} #}
        {# {% set site = photo.getImg({ width: 300, height: 300 }) %} #}
        {% set size = photo.getUrl({ height: otherPicHeight, width: otherPicWidth }) %}
        {% set cat = photo.category.one().slug ?? null %}
            <a href="{{ photo.url }}" data-category="{{ cat }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="grid-item {{ cat }} pic column-item">
                <img src="{{ size }}" alt="{{ photo.title }}">
            </a>
    {% endfor %}
</div>