<div class="grid-wrapper grid--two-on-one" style="width: {{ block.picsGoupWidth + 10 }}px">
    {% for photo in block.picsGroup %}
        {% set size = photo.getUrl({ width: ( (block.picsGoupWidth / 2) ) }) %}
        {# {% set sizeClass = ratio < 1 ? "portrait" : "landscape" %} #}
        {% set cat = photo.category.one().slug ?? null %}
        {% if photo.id == widestPhoto.id %}
            <a href="{{ widestPhoto.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="pic header-item">
                <img src="{{ widestPhoto.getUrl({ width: block.picsGoupWidth + 10 }) }}" alt="{{ widestPhoto.title }}">
            </a>
        {% else %}    
            <a href="{{ photo.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="pic column-item">
                <img src="{{ size }}" alt="{{ photo.title }}">
            </a>
        {% endif %}       
    {% endfor %}
</div>